<%= form_with model: article do |form| %>
  <section class="grid gap-3">
    <div>
      <%= form.label "Titulo", class: "text-xl font-bold" %><br>
      <%= form.text_field :title, class: "input input-bordered w-full max-w-xs"  %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label "Texto" %><br>
      <%= form.text_area :body, class: "textarea textarea-bordered textarea-md w-full max-w-xs" %><br>
      <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    
    <div>
      <%= form.label :status %><br>
      <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public', class: "select w-full max-w-xs" %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  </section>
<% end %>