<h1><%= @article.title %></h1>

<h1><%= @article.body %></h1>


<ul>
  <li><%= link_to "Editar", edit_article_path(@article) %></li>
  <li><%= link_to "Deletar", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>


<h2>Comentários</h2>

<% if @article.comments.any? %>
    <%= render @article.comments %>
<% else %>
    <p>Nenhum comentário...</p>
<% end %>

<h2>Adicionar Comentário</h2>
<%= render "comments/form" %>


<%= link_to "Voltar", articles_path %>