<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Romin Phrases</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'favicon.svg' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <%= render "pages/header" %>
    <main class="container mx-auto min-h-[80vh] p-3">
      <%= yield %>
    </main>
    <%= render "pages/footer" %>
  </body>
</html>
